* {
    margin: 5px;
    box-sizing: border-box;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.text__wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}
.text__input {
    width: 800px;
    height: 200px;
    font-size: 2rem;
    border-radius: 10px;
}
.keyboard_wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.board {
    margin: 0 auto;
    padding: 5px;
    width: 800px;
    background: grey;
    text-align: center;
    border-radius: 10px;
}
.key__button {
    margin: 1px;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
}
.key__button_double {
    width: 10rem;
}
.key__button_space {
    width: 47rem;
}
.key__button_active {
    background-color: #81ff65;
    box-shadow: 2px 2px #14270f;
}